<!doctype html>
<title>Hello from Flask</title>
<h1>Hello, Space Ranger!</h1>
<h2> Here are the coordinates of the latest humans found: {{ coords }} </h2>
<!--  -->
<!-- <!DOCTYPE html> -->
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;

      var decodeHtmlEntity = function(str) {
            return str.replace(/&#(\d+);/g, function(match, dec) {
                    return String.fromCharCode(dec);
              });
      };
      function initMap() {
      	var name = '{{ name }}';
        var coords = JSON.parse(decodeHtmlEntity('{{ coords }}'));
        console.log(coords);
        console.log(coords[0]);
        console.log(coords[0][0]);
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: parseFloat(coords[0][0]), lng: parseFloat(coords[0][1])},
          zoom: 16
        });
        coords.map( function(coordinates) {
            var marker = new google.maps.Marker({
                position: {lat: parseFloat(coordinates[0]), lng: parseFloat(coordinates[1])},
                map: map,
                title: name
            });
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIH9DCONND1rIUs7zwONivoY2r0DWE2_A&callback=initMap"
    async defer></script>
  </body>
</html>
